//colors
$color-grey: #ddd;
$color-grey-dark1: #bbb;
$color-grey-dark2: #aaa;
$color-grey-dark3: #888;
$color-grey-dark4: #666;
$color-grey-light: #f1f1f1;

//border-radius
$border-radius-4: 4px;
$border-radius-8: 8px;
